body{
    background: linear-gradient(#ffdfe6, #fff0a2) repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
}

#pageTitle{
    font-family: 'Share Tech Mono', monospace;
    font-size: 60px;
    color: rgb(135, 226, 231);
    display: flex;
    margin: auto;
    align-content: center;
    justify-content: center;
    text-shadow: 4px 4px rgb(255, 155, 155);
    animation-name: fadeIn;
    animation-duration: 2s;
    -ms-transform: translateY(150%);
    transform: translateY(150%);
}

.window{
    box-shadow: inset -1px -1px #d5869d, inset 1px 1px #dfdfdf, inset -2px -2px #ffb5b5, inset 2px 2px #fff;
}

label{
    margin-top: 5px;
}

input[type=text]{
    box-shadow: inset -1px -1px #ffc5fc, inset 1px 1px #a7679f, inset -2px -2px #e5d7d7, inset 2px 2px #aeceff;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 100%;
    }
}

.faviconDesc{
    display: flex;
    flex-direction: row;
    width: 240px;
    margin-left: 5px;
    margin-bottom: 10px;	
}

#faviconContainer{
    display: flex;
    flex-direction: column;
    width: 100px;
}

.favicon{
    padding: 25px;
}

#desktopContainer{
    display: flex;
    flex-direction: row;
    width: 100%  
}

#notesContainer{
    background-color: #ebc9e6;
    position: absolute;
    right: 0;
    margin: 20px;
    padding: 20px;
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}

#desktopBar{
    height: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #ebc9e6;
}

#startButton{
    height: 40px;
    font-weight: bold;
    width: 100px;
  	box-shadow: inset -1px -1px #d5869d, inset 1px 1px #dfdfdf, inset -2px -2px #ffb5b5, inset 2px 2px #fff;
    background-color: #ebc9e6;
}

#menu-start{
    display: none;
    position: relative;
 		width: 200px;
  	bottom: 465px;
    margin: 0;
}

#menu-start:hover{
    display: flex; 
  	flex-direction: row;
}

#dd{
    display: inline-block;
  	position: relative;
}

#dd:hover #menu-start{
    display: flex;
  	flex-direction: row;
} 

#menu-start:hover{
    display: flex;
  	flex-direction: row;
}

#menu-window{
  	background-color: #ebc9e6;
}

#menu-opt{
		display: flex;
  	flex: 1;
  	flex-direction: column;
  	width: 150px;
}

.submenu{
  	left: 140px;
  	bottom: 50px;
  	display: none;
  	position: relative;
 		width: 200px;
    margin: 0;
}

.submenu.window{
  	background-color: #ebc9e6;
}

.submenu.window:hover{
  	display: flex;
  	flex-direction: column;
}

.opt{
    background-color: #ebc9e6;
    padding: 10px;
  	height: 40px;
  	position: relative;
    list-style: none;
  	display: inline-block;
}

.opt:hover{ 
    background-color: #ffb5b5;
    cursor: pointer;
}

#opt-find:hover #menu-find{
		display: flex;
  	flex-direction: column;
}

#opt-set:hover #menu-set{
		display: flex;
  	flex-direction: column;
}

#opt-docs:hover #menu-docs{
		display: flex;
  	flex-direction: column;
}

#opt-program:hover #menu-program{
		display: flex;
  	flex-direction: column;
}


#dd:active #startButton{
    display: inline-block;
    padding: 10px;
    background: #ccc;
    color: white;
}

#banner-os{
  	font-family: 'Share Tech Mono', monospace;
    font-size: 30px;
  	display: flex;
  	width: 30px;
  	height: 425px;
  	position: relative;
    text-orientation: mixed;
  	writing-mode: sideways-lr;
  	font-weight: bold;
    justify-content: left;
  	align-content: start;
  	background-color:#d5869d;
}

#banner-pic{
	  position:absolute;
  	bottom: 0;
}
